<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Service Provider Manager</h1>
        <form method="post" action="login">
            <fieldset>
                <legend>Login</legend>
                Username:<br>
                <input type="text" name="username" value=""><br>
                Password:<br>
                <input type="password" name="password" value=""><br><br>
                <input type="submit" value="Login">
            </fieldset>
        </form>
        <form method="post" action="register">
            <fieldset>
                <legend>Register</legend>
                Username:<br>
                <input type="text" name="username" value=""><br>
                Password:<br>
                <input type="password" name="password" value=""><br><br>
                <input type="submit" value="Register">
            </fieldset>
        </form>
    </body>
</html>